<footer>
  <div class="footer-container">
    <div class="contact-links">
      <ul>
        <li><h4>Contact</h4></li>
        <li><%= link_to '+33699509440', 'tel: +33699509440' %></li>
        <li><%= link_to 'mosser.romain@gmail.com', 'mailto: mosser.romain@gmail.com' %></li>
        <li>Paris XVème</li>
      </ul>
    </div>
    <div class="footer-information">
      <ul>
        <li>Thanks for visiting</li>
        <li>© Romain Mosser | <%= Time.current.year %></li>
        <li>Designed and developped with love</li>
      </ul>
    </div>
    <div class="social-links">
      <ul>
        <li><h4>Social Media</h4></li>
        <li><%= link_to 'Linked In', 'https://www.linkedin.com/in/romain-mosser-a9680367/', :target => '_blank' %></li>
        <li><%= link_to 'Twitter', 'https://twitter.com/moromain', :target => '_blank' %></li>
      </ul>
    </div>
  </div>
</footer>
